body {
  margin: 0;
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header and navigation */
header {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 4em;
  background-color: #fafafa;
  border-bottom: thick ridge #a3b3c3;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

header .title a {
  margin: 0;
  padding: 0;
  font-size: large;
  font-weight: bold;
  height: 4em;
  display: flex;
  align-items: center;
  margin-right: 4em;
  color: black;
  text-decoration: none;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 4em;
}

header nav ul li {
  display: block;
  font-size: large;
  margin-left: 2em;
}

header nav ul li a {
  color: black;
  margin-left: 2em;
}

header nav ul li a:hover {
  text-decoration-color: red;
  background-color: black;
  color: white;
}

/* Main */
main {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1234px;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 3em;
}

main a {
  color: black;
}

main a:hover {
  text-decoration-color: red;
  background-color: black;
  color: white;
}

main h1 {
  font-size: 2em;
}

main article {
  font-size: 1.25em;
}

main article .post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

main article h2 {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

main article h2:before {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  height: 2px;
  content: " ";
  margin-right: 1em;
  width: 2em;
}

main article h2:after {
  flex-grow: 1;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  height: 2px;
  content: " ";
  margin-left: 1em;
}

main article h3 {
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

main article h3:before {
  border-bottom: 1px dashed darkgray;
  content: " ";
  margin-right: 1em;
  width: 1em;
}

main article ul,
main article ol {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-inline-start: 4em;
  padding-inline-end: 4em;
}

main article ul li,
main article ol li {
  margin-top: 1em;
}

main article .twitter-link {
  border-top: 1px solid darkgray;
  margin-top: 4em;
  padding-top: 2em;
}

/* Footer */
footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: #fafafa;
  border-top: thick ridge #a3b3c3;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

footer a {
  color: black;
  margin-left: 2em;
}

footer a:hover {
  text-decoration-color: red;
  background-color: black;
  color: white;
}

@media (max-width: 480px) {
  header {
    justify-content: space-between;
    flex-direction: column;
    height: auto;
  }
  header .title a {
    margin-right: 0;
    height: 2em;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    height: 2em;
    justify-content: space-evenly;
  }
  header nav ul li {
    margin-left: 0;
  }
  header nav ul li a {
    margin-left: 0;
  }

  main article ul,
  main article ol {
    padding-inline-start: 1em;
    padding-inline-end: 0;
  }
}

@media print {
  header {
    display: none;
  }
  main {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  footer {
    display: none;
  }
}
