---
layout: main
---

<article class="post"> 
    <h1>{{ title | safe }}</h1>
    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

    {{ content | safe }}
</article>
