---
layout: main
---

<article class="post"> 
    <h1>{{ title | safe }}</h1>
    <div class="post-meta">
        <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        <div>{{ content | emojiReadTime }}</div>
    </div>

    {{ content | safe }}


    {% if twitterLink %}
    <div class="twitter-link">
        <a href="{{ twitterLink }}" title="{{ twitterComment | safe }}" target="_blank">Comment on this blog post on Twitter</a>
    </div>
    {% endif %}
</article>
