---
layout: main
---

<article class="post"> 
    <h1>{{ title | safe }}</h1>
    <div class="post-meta">
        <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        <div>{{ content | emojiReadTime }}</div>
    </div>

    {{ content | safe }}
</article>
